body{
    background: linear-gradient(rgb(180, 243, 180),rgb(243, 153, 153));
    font-family: cursive;
}
#score{
    font-size: 30px;
    margin: left;
    font-style: cursive;
    padding-left: 50px;
    font-family:cursive;
    
}
#timer{
    font-size: 30px;
    margin: right;
    float:right;
    font-family: cursive;
    padding-right: 50px;
    
}